amqp==2.5.1
astor
billiard
celery==4.2.0
certifi==2019.9.11
chardet
Django==2.2.13
django-minio-storage==0.2.2
djangorestframework==3.10.3
future==0.17.1
google-pasta
grpcio
h5py
idna
importlib-metadata==0.23
kombu==4.6.4
Markdown==3.1.1
minio==4.0.21
more-itertools==7.2.0
mtcnn==0.0.9
oauthlib==3.1.0
opencv-python==4.1.1.26
Pillow==7.1.0
protobuf
psycopg2-binary==2.8.3
python-dateutil==2.8.0
python-magic==0.4.15
pytz
redis==3.3.8
requests==2.22.0
requests-oauthlib==1.2.0
sqlparse
tensorflow==2.4.0
tensorflow-estimator
termcolor
urllib3==1.25.6
vine
Werkzeug==0.16.0
wrapt
zipp
drf-yasg==1.16.1
packaging==19.2
